[cmp]
server = ppki-playground.ct.siemens.com
trusted = PPKIPlaygroundInfrastructureRootCAv10.crt,PPKIPlaygroundRSARootCAv10.crt,PPKIPlaygroundECCRootCAv10.crt
out_trusted = PPKIPlaygroundRSARootCAv10.crt,PPKIPlaygroundECCRootCAv10.crt
cert = PPKI_Playground_CMP.p12
key = PPKI_Playground_CMP.p12
keypass = pass:12345
tls_trusted = PPKIPlaygroundInfrastructureRootCAv10.crt
tls_cert = PPKI_Playground_TLS.p12
tls_key = PPKI_Playground_TLS.p12
tls_keypass = pass:12345
