# SPDX-FileCopyrightText: Copyright 2024 Siemens AG
#
# SPDX-License-Identifier: Apache-2.0

safety>= 3.4.0, < 4.0.0
pylint>= 3.3.3, < 4.0.0
black
ruff
robotframework-robocop==6.1.0
robotframework-tidy==4.16.0
pyright==1.1.399
codespell==2.4.1
reuse==5.0.2